@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

/* Tiptap Content Styles */
.rich-text-content h1 {
  @apply text-[1.5rem] font-bold mt-4 mb-2 text-black;
}

.rich-text-content h2 {
  @apply text-[1.25rem] font-semibold mt-3 mb-2 text-black;
}

.rich-text-content p {
  @apply mb-2 leading-relaxed text-black;
}

.rich-text-content ul {
  @apply list-disc pl-6 my-2 text-black;
}

.rich-text-content ol {
  @apply list-decimal pl-6 my-2 text-black;
}

.rich-text-content li {
  @apply mb-1 text-black;
}

.rich-text-content strong {
  @apply font-bold text-black;
}

.rich-text-content em {
  @apply italic text-black;
}

.tiptap-content h1,
.tiptap-content h2,
.tiptap-content h3,
.tiptap-content p,
.tiptap-content li,
.tiptap-content strong,
.tiptap-content em {
  color: #000000 !important;
}

.tiptap-content p {
  @apply text-[16px] leading-[150%] mb-2;
}

.tiptap-content ul {
  @apply list-disc pl-6 mb-2;
}

.tiptap-content ol {
  @apply list-decimal pl-6 mb-2;
}