/* Thin Scrollbar */
.thin-scrollbar {
    scrollbar-width: thin;
    /* Firefox ke liye */
    scrollbar-color: #888 #f1f1f1;
    /* Thumb aur track color */
}

.thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    /* vertical scrollbar width */
    height: 6px;
    /* horizontal scrollbar height */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}