@keyframes smokeAfter {
    0% {
        opacity: 0.7;
        transform: scale(0.9) translateY(0);
        filter: blur(3px);
    }

    50% {
        opacity: 0.4;
        transform: scale(1.6) translateY(-15px);
        filter: blur(10px);
    }

    100% {
        opacity: 0;
        transform: scale(2.2) translateY(-30px);
        filter: blur(18px);
    }
}

.char-smoke {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgb(255, 255, 255) 20%,
            /* base color #00624F with opacity */
            rgba(255, 255, 255) 50%,
            /* softer mid tone */
            transparent 80%
            /* fade out edges */
        );
    opacity: 0;
    pointer-events: none;
    animation: smokeAfter 0.9s ease-out forwards;
    animation-delay: 0.05s;
}